@model Data.Models.DTO.RegistrationModel

@{
    ViewData["Title"] = "CreateStudent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var classes = ViewData["Class"] as IEnumerable<Data.Models.DTO.ClassModel>;
}

<h1>CreateStudent</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateStudent" method="post" enctype="multipart/form-data">
            <div class="form-group form-check" style="padding-left: 0px">
                <div>
                    <label for="img">Avatar</label>
                    <input type="file" class="form-control" name="img" id="imgInput" accept="image/*" />
                </div>
                <div>
                    <img id="uploadedImage" src="" alt="Hình ảnh tải lên" style="max-width: 300px; display: none;" />
                </div>

            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" type="date" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            
            <div>
                <label  asp-for="Gender">Gender:</label>
                <select asp-for="Gender" id="Gender" name="Gender" required>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="form-check-label">Status</label>
                <input class="form-check-input" asp-for="Status" />
                        
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" value="@Model.Password" asp-for="Password" class="form-control" id="Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input type="password" value="@Model.PasswordConfirm" asp-for="PasswordConfirm" class="form-control" id="PasswordConfirm" required />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div>
                @if (classes != null)
                {
                    <label for="classDropdown">Lớp:</label>
                    <select id="classDropdown" asp-for="ClassID">
                        <option value="">Tất cả</option>

                        @foreach (var cls in classes)
                        {
                            <option value="@cls.Id">@cls.Name</option>
                        }
                    </select>
                    
                }
                else
                {
                    <p>Danh sách lớp rỗng hoặc không tồn tại.</p>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 15px;">
    <a asp-action="Student_Index" style=" border: 1px solid;
    padding: 7px;
    border-radius: 5px;">Back</a>
</div>

@if (ViewData["error"] != null)
{
    <br />
    <br />
    <label>@ViewData["error"]</label>
}

<script>
    // Lắng nghe sự kiện khi người dùng chọn tệp hình ảnh
    document.getElementById('imgInput').addEventListener('change', function (event) {
        var fileInput = event.target;
        var uploadedImage = document.getElementById('uploadedImage');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Hiển thị hình ảnh sau khi tải lên
                uploadedImage.src = e.target.result;
                uploadedImage.style.display = 'block'; // Hiển thị hình ảnh
            };

            reader.readAsDataURL(fileInput.files[0]);
        } else {
            // Ẩn hình ảnh nếu không có tệp nào được chọn
            uploadedImage.src = '';
            uploadedImage.style.display = 'none';
        }
    });
    function validatePassword() {
        var password = document.getElementById('Password').value;
        var passwordConfirm = document.getElementById('PasswordConfirm').value;

        if (password !== passwordConfirm) {
            alert("Mật khẩu và xác nhận mật khẩu phải trùng khớp.");
            return false;
        }

        return true;
    }

</script>
<style>
    .form-group {
        margin-bottom: 15px;
    }
</style>