@model Data.Models.DTO.BasicInfoModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Tìm kiếm học sinh";
    

}

<h1>Tìm kiếm học sinh</h1>
@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    <input type="text" name="studentID" placeholder="Nhập mã số học sinh" />
    <input type="submit" value="Tìm kiếm" />
}
<div id="result" style="@(ViewBag.result ? "display: block;" : "display: none;")">
@if (Model != null)
{
    <div>
        <h2>Kết quả:</h2>
        <p>Mã số học sinh: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Ngày sinh: @Model.DOB</p>
        <p>Địa chỉ: @Model.Address</p>
        <p>Còn học: @Model.Status</p>
        <p>Lớp học: @Model.ClassID</p>
        <!-- Thêm các thông tin khác của học sinh nếu cần -->
    </div>
}
else
{
    <div >
        <h2>Kết quả:</h2>
        <p>Không tìm thấy học sinh</p>
    </div>
}
</div>

@if (ViewData["error"] != null)
{
    <br />
    <br />
    <label>@ViewData["error"]</label>
}